body {
    font-family: 'Droid Sans', sans-serif;
    color: #606d66;
}

a:link {
    color: #6bc8c6;
}

a:visited {
    color: #a57abe;
}

a:hover {
    color: #32a69b;
}

a:active {
    color: #c96b67;
}

hr {
    background: #606d66;
    border: 0;
    height: 2px;
    width:  100%;
}

ul {
    margin-left: 20px;
    padding-left: 0;
}

.wrapper {
    margin: auto;
    max-width: 900px;
    padding: 10px;
    overflow: auto;
}

.icon svg {
    width: 32px;
    height: auto;
}

header .col-left {
    float: left;
}

header .col-right {
    float: right;
}

.social {
    float: right;
    margin-top: 8px;
}

.social a {
    text-decoration: none;
}

.page-content {
    text-align: center;
}

.tab-content {
    width: 100%;
}

.tab-content table {
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
}

@media screen and (max-width: 910px) {
    .wrapper {
	max-width: 100%;
    }
    header h1 {
        margin-bottom: -10px;
    }
    .icon svg {
	width: 16px;
	height: auto;
    }
    .social {
	margin-top: 20px;
    }
    header .col-left {
        width: 100%;
    }
    header .col-left img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    header .col-right {
	text-align: center;
	float: left;
	width: 100%;
    }
}

header .col-left img {
    max-width: 360px;
    width: 100%;
    height: auto;
}

header .col-right h3 {
    float: left;
    margin-bottom: 10px;
}

/* Tabbing Scheme */
tabs {
    max-width: 100%;
}

.tabs:after {
    content: '';
    display: table;
    clear: both;
}

.tabs input[type=radio] {
    display:none;
}

.tabs label {
    display: block;
    float: left;
    width: 20%;
    color: #aa;
    font-size: 24px;
    font-style: italic;
    text-align: center;
    background: #eee;
    cursor: pointer;
    transition: all 0.5s;
}

.tabs label:hover {
    color: #3498db;
    background: #ddd;
}

.tab-content {
    display: none;
    float: left;
}

.tab-content * {
    animation: scale 0.2s ease-in-out;
}
@keyframes scale {
    0% {
        transform: scale(0.99);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.tabs [id^="tab"]:checked + label {
    color: #3498db;
    background: #fff;
}

#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3,
#tab4:checked ~ #tab-content4,
#tab5:checked ~ #tab-content5 {
    display: block;
}

@keyframes slidy {
    0% { left: 0%; }
    30% { left: 0%; }
    36% { left: -100%; }
    63% { left: -100%; }
    69% { left: -200%; }
    96% { left: -200%; }
    100% { left: 0% }
}

body { margin: 0; } 
div#slider { overflow: hidden; }
div#slider figure img { width: 33.333333%; float: left; }
div#slider figure { 
    position: relative;
    width: 300%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 15s slidy infinite; 
}

@media (min-width: 20%) {
    .tabs i {
        padding: 5px;
        margin-right: 10px;
    }
    .tabs label span {
        display: inline-block;
    }
    .tabs {
        max-width: 100%;
	margin: 0px auto;
    }
}
