body {
    font-family: 'Droid Sans', sans-serif;
    color: #606d66;
}

a:link {
    color: #6bc8c6;
}

a:visited {
    color: #a57abe;
}

a:hover {
    color: #32a69b;
}

a:active {
    color: #c96b67;
}

hr {
    background: #606d66;
    border: 0;
    height: 2px;
    width:  100%;
}

.wrapper {
    margin: auto;
    max-width: 960px;
    padding: 10px;
}

.icon svg {
    width: 32px;
    height: auto;
}

header .col-left {
    float: left;
}

header img {
    max-width: 360px;
    width: 100%;
    height: auto;
}

header .col-right {
    float: right;
}

header .col-right h3 {
    float: left;
}

header .col-right .social {
    float: right;
}

footer {
    text-align: center;
}

/* Tabbbed divs */
/*#eee*/

* {
  margin: 0;
  padding: 0; 
  @include box-sizing(border-box);
}
.tabs {
  width: 650px;  
  float: none;
  list-style: none;
  position: relative;
  margin: 80px 0 0 10px;
  text-align: left;
  li {
    float: left;
    display: block;
  }
  input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  label {
    display: block;
    padding: 14px 21px;
    border-radius: 2px 2px 0 0;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    top: 4px; 
    @include transition(all 0.2s ease-in-out);
    &:hover {
      background: darken($tabs-base-color, 10);
    }
  }
  .tab-content{
    z-index: 2;
    display: none; 
    overflow: hidden;
    width: 100%;
    font-size: 17px;
    line-height: 25px;
    padding: 25px;  
    position: absolute;
    top: 53px;
    left: 0; 
    background: darken($tabs-base-color, 15);
  }
  //The Magic
  [id^="tab"]:checked + label { 
    top: 0;
    padding-top: 17px; 
    background: darken($tabs-base-color, 15); 
  }
  [id^="tab"]:checked ~ [id^="tab-content"] {
    display: block;
  }
}
