---
layout: default
---
<ul class="tabs">
  <li>
    <input type="radio" name="tabs" id="tab1" checked />
    <label for="tab1">About</label>
    <div id="tab-content1" class="tab-content">
      {% capture md %}{% include tabs/about.md %}{% endcapture %}
      {{ md | markdownify }}
    </div>
  </li>
  <li>
    <input type="radio" name="tabs" id="tab2" />
    <label for="tab2">Wiki</label>
    <div id="tab-content2" class="tab-content">
      {% capture md %}{% include tabs/wiki.md %}{% endcapture %}
      {{ md | markdownify }}
    </div>
  </li>
</ul>
