---
layout: default
---
<!---
<div class="tabs">
   <div class="tab">
       <input type="radio" id="tab-1" name="tab-group-1" checked>
       <label for="tab-1">About</label>
       <div class="content">
	 {% capture md %}{% include tabs/about.md %}{% endcapture %}
	 {{ md | markdownify }}
       </div> 
   </div>
    
   <div class="tab">
       <input type="radio" id="tab-2" name="tab-group-1">
       <label for="tab-2">Wiki</label>
       <div class="content">
	 {% capture md %}{% include tabs/wiki.md %}{% endcapture %}
	 {{ md | markdownify }}
       </div> 
   </div>
</div>
--->

<br>
<div class="tabs">
  <!-- Radio button and lable for #tab-content1 -->
  <input type="radio" name="tabs" id="tab1" checked>
  <label for="tab1">
    <span>About</span>
  </label>
  
  <!-- Radio button and lable for #tab-content2 -->
  <input type="radio" name="tabs" id="tab2">
  <label for="tab2">
    <span>Wiki</span>
  </label>
  
  <div id="tab-content1" class="tab-content">
    {% capture md %}{% include tabs/about.md %}{% endcapture %}
    {{ md | markdownify }}
  </div>
  
  <div id="tab-content2" class="tab-content">
    {% capture md %}{% include tabs/wiki.md %}{% endcapture %}
    {{ md | markdownify }}
  </div>
</div>
