<head>
  <title>{{ site.title }}</title>
  
  <meta name="description"
	content="{{ site.motto }}">
  
  <meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  
  <meta name="google-site-verification"
	content="{{ site.google_site_verification }}" />
  
  <meta name="msvalidate.01"
	content="{{ site.msvalidate }}" />

  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css">

  <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
  <script src="js/firebaseFunctions.js"></script>
  <script src="js/loginControl.js"></script>
  <script src="js/qaControl.js"></script>
</head>
