<head>
  <title>{{ site.description }}</title>
  
  <meta name="description"
	content="{{ site.description }}">
  
  <meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  
  <meta name="google-site-verification"
	content="{{ site.google_site_verification }}" />
  
  <meta name="msvalidate.01"
	content="{{ site.msvalidate }}" />

  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css">
</head>
