<a href="https://github.com/{{ include.github_username }}">
  <span class="icon icon--github">{% include images/site/social-github.svg %}</span>
  <span class="username">{{ site.github_username }}</span>
</a>

<a href="https://facebook.com/{{ include.facebook_username }}">
  <span class="icon icon--facebook">{% include images/site/social-facebook.svg %}</span>
  <span class="username">{{ site.twitter_username }}</span>
</a>

<a href="https://twitter.com/{{ include.twitter_username }}">
  <span class="icon icon--twitter">{% include images/site/social-twitter.svg %}</span>
  <span class="username">{{ site.twitter_username }}</span>
</a>
